.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: "radial-gradient(125% 125% at 50% 100%, #000000 40%, #2b0707 100%)";
}