.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: rgb(74, 74, 74);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imgDiv{
    width: 10vw;
    /* height: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: rgb(209, 209, 209);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
}

.cardTxt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: rgb(74, 74, 74);
}

.cardTxt h1{
    font-size: 1.9rem;
    font-weight: 500;
    color: #fff;
}

.cardTxt p{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}


