.main{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

section{
    width: 25vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allReels{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow: auto;
    flex-wrap: wrap;

}

.allReels::-webkit-scrollbar{
    display: none;
}

.reel{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(74, 74, 74);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0.75rem;
    margin-bottom: 2vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel .mainContent{
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    object-fit: cover;
}

.reel .bottomSection{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    position: absolute;
    bottom: 0;
    width: 100%;
    position: absolute;
    }

.bottomSection .upper{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0 1rem 0 1rem ;
}

.bottomSection .upper .dp{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid #fff;
}

.bottomSection .upper .pfpName{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.bottomSection .upper .follow{
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    /* border: 1px solid #fff; */
    /* background-color: #ff0000b2; */
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.bottomSection .upper .follow:hover{
    background-color: #ffffff9c;
    color: #000;
}
.bottomSection .upper .follow:active{
    transform: scale(0.8);
}

.bottomSection .lower{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1rem 0 1rem ;
    width: 100%;
}

.bottomSection .lower p{
    color: #fff;
    /* background: #000; */
    font-size: 1vw;
    font-weight: 400;
    width: 75%;
    padding-right: 1vw;
}

.rightSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    position: absolute;
    right: 0vw;
    top: 64%;
    /* bottom: 1vw; */
    color: #fff;
    /* transform: translateX(100%); */
    padding: 1vw;
    transform: translateY(-50%);
}

.rightSection .like, .rightSection .comment, .rightSection .share .music{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rightSection .music{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightSection .music .musicIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
    color: #000;
    z-index: 9;
}

.rightSection .music .musicImg{
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
    border: 2px solid #fff;
    object-fit: cover;
    position: absolute;
}

.rightSection .like .my-icon, .rightSection .comment .my-icon, .rightSection .share .my-icon, .rightSection .more .myIconMenu{
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    font-size: 4vw;
    background: #64646492;
    border-radius: 10px;
    padding: 0.8vw;
}
.rightSection .like .likeCount, .rightSection .comment .commentCount, .rightSection .share .shareCount{
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
    margin-top: 0.5rem;
    text-align: center;
}
.rightSection .more .myIconMenu{
    rotate: 90deg;
}

/* .rightSection .like .my-icon:hover, .rightSection .comment .my-icon:hover, .rightSection .share .my-icon:hover, .rightSection .more .myIconMenu:hover{
    color: #ff0000;
} */


@media (max-width: 600px) {
    
    section{
        width: 100vw;
        height: 100vh;
    }

    .reel{
        height: 100vh;
        margin-bottom: 0;
        border-radius: 0;
    }

    .reel .mainContent{
        border-radius: 0;
    }

    .bottomSection .upper .pfpName{
        font-size: 4vw;
    }

    .bottomSection .upper .follow{
        font-size: 3vw;
        padding: 0.4rem 1rem;
    }

    .bottomSection .lower p{
        font-size: 3.5vw;
        width: 90%;
    }

    /* Right Section icons */
    .rightSection{
        right: 2vw;
        top: 70%;
    }

    .rightSection .like .my-icon,
    .rightSection .comment .my-icon,
    .rightSection .share .my-icon,
    .rightSection .more .myIconMenu{
        font-size: 8vw;
        padding: 2vw;
    }

    .rightSection .like .likeCount,
    .rightSection .comment .commentCount,
    .rightSection .share .shareCount{
        font-size: 3vw;
    }

    /* Music Icon */
    .rightSection .music .musicImg{
        width: 12vw;
        height: 12vw;
    }

    .rightSection .music .musicIcon{
        width: 10vw;
        height: 10vw;
    }
}


@media (max-width: 1024px) and (min-width: 600px) {

    section{
        width: 60vw;
        height: 90vh;
    }

    .rightSection{
        right: 1vw;
        top: 68%;
    }

    .rightSection .like .my-icon,
    .rightSection .comment .my-icon,
    .rightSection .share .my-icon,
    .rightSection .more .myIconMenu{
        font-size: 5vw;
        padding: 1vw;
    }

    .rightSection .music .musicImg{
        width: 8vw;
        height: 8vw;
    }

    .rightSection .music .musicIcon{
        width: 6vw;
        height: 6vw;
    }

    .bottomSection .lower p{
        font-size: 2vw;
    }
}