.section {
  padding: 32px 18px;
  margin-bottom: 32px;
  /* background: #363232; */
  border-radius: 16px;
  box-shadow: 0 3px 16px rgba(0,0,0,0.07);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #ffcc00;
}

@media (max-width: 600px) {
  .section {
    padding: 18px 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: none;
  } 
}
